
/* Form Styling */
.form-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 30px auto;
    row-gap: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 9px 2px #00000040;
    padding: 15px 20px;
    background-color: #ffffff;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:flex-start;
    width: 60%;
}
.form-container input {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    height: 27px;
}
.form-container input:focus {
    outline: none;
}
.form-container button {
    border: none;
    width: 90px;
    height: 30px;
    margin: auto;
    font-size: 14px;
    font-weight: 900;
    padding: 4px;
    background-color: #3f51b5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

label {
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 5px;
}
